<section>

  <div class="header" fxLayoutAlign="space-between center">
    <div class="container">
      <h2 mat-dialog-title>{{isEditMode ? '№ ' + taskDetail.id : 'Новая заявка'}}
        <span *ngIf="isEditMode" class="req-name">{{taskDetail.name | shorten: titleLength}}</span></h2>

    </div>
    <button mat-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="body" *ngIf="!isEditMode; else editMode" [ngClass.xs]="'xs-layout'">

    <form fxLayoutAlign="start space-around" fxLayout="column" [formGroup]="taskForm">

      <div class="form-group name" fxLayout="column">
        <label for="name">Название</label>
        <textarea name="name" id="name" cols="30" rows="5" formControlName="name"></textarea>
      </div>
      <div class="form-group" fxLayout="column">
        <label for="descr">Описание</label>
        <textarea name="descr" id="descr" cols="30" rows="10" formControlName="description"></textarea>
      </div>
      <div class="btn" [ngClass.xs]="'xs-btn'">
        <button mat-button type="button" [disabled]="taskForm.invalid" (click)="submitNewRequestForm()"
                mat-raised-button color="primary" class="basic-btn large-btn">
          Сохранить
        </button>
      </div>
    </form>
  </div>
  <ng-template #editMode>
    <mat-dialog-content [ngClass.xs]="'xs-mat-content'">
      <div class="edit-mode-container" fxLayout="row" fxLayout.xs="column">
        <div class="body edit-mode" [ngClass.xs]="'xs-layout'">
          <div class="wrap">
            <h3>Описание</h3>
            <div class="description" [innerHTML]="taskDetail.description"></div>
          </div>
          <form [formGroup]="taskEditForm" class="editRequestForm" (ngSubmit)="submitNewRequestForm()">
            <div class="form-group" fxLayout="column">
              <label for="comment">Добалвение комментариев</label>
              <textarea name="comment" id="comment" cols="30" rows="10" formControlName="comment"></textarea>
            </div>

            <div class="btn" [ngClass.xs]="'xs-btn'">
              <button
                type="submit" mat-raised-button color="primary"
                class="basic-btn large-btn" [disabled]="taskEditForm.invalid"
              >
                Сохранить
              </button>
            </div>
          </form>
          <div class="life-time" *ngIf="lifeTimeItems$ | async as lifeTimeItem">
            <ng-container *ngFor="let stuffComment of lifeTimeItem; trackBy: trackByCommentFn">
              <app-task-life-time [staffComment]="stuffComment" *ngIf="stuffComment.comment"></app-task-life-time>
            </ng-container>
          </div>
        </div>
        <div class="sidebar" gdColumns.xs="1fr 1fr" [ngClass.xs]="'xs-sidebar'">
          <form [formGroup]="taskEditForm">
            <div class="form-group">
              <mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <span class="dot" [style.background-color]="selectedStatusColor"></span>
                  <mat-select formControlName="status" (selectionChange)="onStatusChange()">
                    <mat-option *ngFor="let status of statusesList" [value]="status.id">
                      {{status.name}}
                    </mat-option>
                  </mat-select>
                </div>
              </mat-form-field>
            </div>
          </form>
          <div class="wrap initiator-container">
            <h3>Заявитель</h3>
            <p class="main-text">{{taskDetail.initiatorName}}</p>
          </div>
          <div class="wrap">
            <h3>Создана</h3>
            <p class="main-text">{{taskDetail.executorGroupName}}</p>
          </div>
          <div class="wrap form-wrap">
            <h3>Исполнитель</h3>
            <form [formGroup]="taskEditForm">
              <div class="form-group executor-form">
                <mat-form-field>
                  <mat-select formControlName="executorName" (selectionChange)="onExecutorChange()">
                    <mat-option *ngFor="let user of usersList" [value]="user.id">
                      {{user.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="wrap plan-date">
            <h3>Приоритет</h3>
            <p class="main-text">{{taskDetail.priorityName}}</p>
          </div>
          <div class="wrap plan-date">
            <h3>Срок</h3>
            <div class="container" fxLayout="row" fxLayoutAlign="flex-start center">
              <mat-icon class="calendar-icon">calendar_today</mat-icon>
              <p class="main-text">{{taskDetail.resolutionDatePlan  |  date: 'dd.MM.yyyy'}}г.</p>
            </div>
          </div>
          <div class="wrap">
            <h3>Теги</h3>
            <p>
              <ng-container *ngFor="let tag of taskDetail.tags">
                <span class="tags-container">{{tag.name}}</span>
                <br>
              </ng-container>
            </p>
          </div>
        </div>
      </div>

    </mat-dialog-content>
  </ng-template>
</section>
