section {

  .header {
    background: #1a4876;
    height: 65px;

    .container {
      display: flex;
      flex: 1;
      align-items: center;

      h2 {
        font-size: 18px;
        padding-left: 35px;
        color: #fff;
        font-weight: normal;
        line-height: normal;

        .req-name {
          margin-left: 15px;
          color: #fff;
          font-size: 16px;
        }
      }

      .sm-title {
        max-width: 100px;

        span {
          white-space: nowrap;
          color: red !important;
        }

      }
    }

    button {
      background: #1a4876 !important;

      mat-icon {
        color: #fff;
      }
    }

    .mat-dialog-title {
      margin: 0;
    }
  }

  h3 {
    color: #9f9ea7;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: normal;
  }

  .main-text {
    font-size: 14px;
    margin: 12px 0;
  }

  .large-btn {
    padding: 0 33px
  }

  .mat-dialog-content {
    max-height: calc(100vh - 130px);
  }

  .xs-mat-content {
    max-height: calc(100vh - 65px);
  }


  .body {
    height: 100%;
    margin: 55px 0 0 40px;

    form {
      .form-group {
        width: 80%;
        min-width: 280px;

        label {
          color: #9f9ea7;
          font-size: 14px;
          margin-bottom: 15px;
        }

        textarea {
          resize: none;
          border-radius: 3px;
          border: 1px solid #e8e8e8;
        }

      }

      .name {
        margin-bottom: 25px;
      }

    }

    .name-input {
      margin-bottom: 25px;
    }

    .btn {
      margin-top: 18px;

      .mat-raised-button[disabled] {
        color: rgba(255, 255, 255, 0.6);
      }
    }


    .editRequestForm {
      margin: 15px 0;

      .basic-btn {
        margin: 15px 0;
      }
    }
  }


  .edit-mode-container {
    height: 100%;

    .edit-mode {
      margin-top: 30px;
      flex: 1;
    }

    h3 {
      margin-bottom: 0;
    }

    .sidebar {
      width: 25%;
      height: 100%;
      padding: 23px 0 0 30px;
      border-left: 2px solid #d7dce0;

      .wrap {
        margin: 30px 0;
      }

      .form-wrap {
        margin-bottom: 10px;
        margin-top: 0;
      }

      .plan-date {
        margin-top: 0;
      }

      .form-group {


        .mat-focused .mat-form-field-underline .mat-form-field-ripple {
          background: #3585d7;
        }

        .dot {
          flex-shrink: 0;
          margin-right: 8px;
          height: 11px;
          width: 11px;
          border-radius: 50%;
          display: inline-block;
        }

        .mat-form-field-infix {
          border-top: 0;
        }

        .mat-form-field-appearance-legacy .mat-form-field-underline {
          height: 0 !important;
        }

        .mat-select-value {
          color: #3585d7;
          font-size: 14px;
        }

        .mat-select-arrow {
          color: transparent;
        }


        .mat-form-field-appearance-legacy .mat-form-field-wrapper {
          //padding-bottom: 0 !important;
        }

        .mat-form-field-appearance-legacy .mat-form-field-infix {
          padding: 0;
        }
      }

      .executor-form {
        margin-top: 12px;
      }

      .initiator-container {
        margin-bottom: 20px;
      }


      .calendar-icon {
        margin-right: 5px;
      }

      .tags-container {
        font-size: 12px;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 20px;
        border: 1px solid #9da1aa;
        color: #9da1aa;
        background: #fff;
        margin-bottom: 5px;
      }

      .btn {
        .mat-raised-button[disabled] {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    .xs-sidebar {
      margin: 12px;
      width: 100%;
      padding: 0;
      border-left: none;

      .wrap {
        margin: 0;
      }

      margin-bottom: 25px;
    }
  }

  .xs-layout {
    margin: 12px;
    padding: 0;
  }

  .xs-btn {
    margin-top: 18px !important;
    text-align: center;
  }
}

