section {
  min-width: 780px;

  section::-webkit-scrollbar {
    display: none;
  }

  .new-task {
    margin: 25px 18% 20px;
    padding: 2px 34px;
  }

  .error {
    margin-top: 50px;

    h1 {
      color: #1a4876;
    }
  }

  mat-table {
    max-width: 850px;
    width: 100%;

    mat-header-cell {

      font-size: 16px;
      color: #000;

      &:nth-child(2), &:nth-child(3), &:nth-child(1) {
        span {
          border-right: 1px solid #e2e7ea;
          margin-right: 15px;
          width: 100%;
        }
      }
    }

    .status {
      color: #fff;
      padding: 4px 12px;
      border-radius: 20px;
    }

    .id-body, .id-head {
      flex: 0 0 10% !important;
      width: 10% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    .id-body {
      border-left: 5px solid transparent;
      padding-left: 21px;
      margin: 3px 0 3px 3px;
    }

    .status-body, .status-head, .executor-body, .executor-head {
      flex: 0 0 15% !important;
      width: 15% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    .status-body, .status-head {
      flex: 0 0 17% !important;
      width: 17% !important;
    }

    .name-body {
      padding-right: 20px;
    }


    mat-row:hover {
      background: #ecf3f7;
      cursor: pointer;
    }
  }
}

