<section>
  <ng-container *ngIf="serviceDeskTasks$ | async; else loadingOrError">
    <button mat-raised-button color="primary" class="basic-btn new-task" (click)="onCreateTask()">Создать заявку
    </button>
    <mat-table [dataSource]="serviceDeskTasks$ | async" [trackBy]="myTrackById">
      <ng-container matColumnDef="id">
        <mat-header-cell class="id-head" *matHeaderCellDef><span>ID</span></mat-header-cell>
        <mat-cell class="id-body" *matCellDef="let element" [style.border-color]="detectPriorityColor(element.priorityId)">{{ element.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef><span>Название</span></mat-header-cell>
        <mat-cell class="name-body" *matCellDef="let element"> {{ element.name | shorten: 86}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="statusName">
        <mat-header-cell class="status-head" *matHeaderCellDef><span>Статус</span></mat-header-cell>
        <mat-cell class="status-body" *matCellDef="let element"><span class="status"
                                                                      [style.background-color]="element.statusRgb">{{ element.statusName  | shorten: 10}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="executorName">
        <mat-header-cell class="executor-head" *matHeaderCellDef><span>Исполнитель</span></mat-header-cell>
        <mat-cell class="executor-body" *matCellDef="let element"> {{ element.executorName }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEditTask(row.id)"></mat-row>
    </mat-table>
  </ng-container>
  <ng-template #loadingOrError>
    <div *ngIf="loadingError$ | async; else loading">
      <div fxLayoutAlign="center center" class="error">
        <h1>Не удалось получить данные. Повторите попытку позже</h1>
      </div>
    </div>
    <ng-template #loading>
      <div fxLayoutAlign="center center" class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </ng-template>

</section>
