<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true" disableClose="true" role="navigation" fxFlex.xs="50px">
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
