mat-sidenav-container {
  height: 100%;
  background: #fff;

  mat-sidenav {
    width: 100px;
    height: 100%;
    background: #002137;
  }

  mat-sidenav-content {
    height: 100%;
  }
}

main {
  margin-top: 65px;
}
