<div class="header" fxLayoutAlign="flex-start center">
  <div class="header-image">
<!--    <img src="" alt="" class="avatar">-->
    <div class="no-avatar">
    </div>
  </div>
  <div class="stuff-comment">
    <p class="stuff-name">{{staffComment.userName}}</p>
  </div>

</div>
<div class="commented-at">{{staffComment.createdAt | date: 'dd MMMM, HH:mm'}} прокомментировал</div>
<div class="comment-body">
  <p>
    {{staffComment.comment}}
  </p>
</div>
