.header {
  background: transparent;
  height: 50px  ;

  .header-image {
    margin-right: 8px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid #c9d0d6;
    background: #f5f5f5;

    .avatar, .no-avatar {
      height: 100%;
      width: 100%;
      flex-shrink: 0;
    }
  }

  .stuff-comment {
    color: #71747e;

    .stuff-name {
      margin-block-start: 10px;
      margin-block-end: 10px;
      font-size: 14px;
    }
  }
}

.commented-at {
  margin-left: 48px;
  color: #71747e;
  font-size: 12px;
}

.comment-body {
  margin: 14px 32px 0 48px;
  background: #e3e9f4;
  border-radius: 3px;
  p {
    font-size: 14px;
    padding: 12px 10px;
  }
}
