mat-toolbar.header {
  height: 65px;
  background: #d1e0ed;
  top: 0;
  position: fixed;
  z-index:999;

  .search-form {
    margin-left: 15px;
    width: 100%;

    mat-form-field {
      max-width: 45%;
      min-width: 220px;
      width: 100%;
    }

    .mat-form-field-wrapper {
      margin: 0 !important;
      padding-bottom: 0 !important;

    }
    .mat-form-field-outline {
      background: #fff;
      border-radius: 20px;
    }

    .mat-form-field-outline-end {
      border-radius: 0 20px 20px 0!important;
    }

    .mat-form-field-outline-start {
      border-radius: 20px 0 0 20px!important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-start {
      border-radius: 20px 0 0 20px!important;
    }

    .mat-form-field-outline-start {
      flex-grow: 1;
    }

    .mat-form-field-outline-thick {
      color: #002137!important;
      //border: 1px solid #002137;
      //opacity: 1!important;

    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      //border: 1px solid #42aaff;
      color: #42aaff!important;
    }


    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 10px 0 !important;
      border-top: 10px solid transparent;
      width: 80%;
    }
  }
}
