<mat-toolbar class="header" fxLayoutAlign="start center">

  <div class="search-form">
    <mat-form-field appearance="outline">
      <input matInput placeholder="">
      <mat-icon svgIcon="search-icon" matSuffix></mat-icon>
    </mat-form-field>
  </div>

</mat-toolbar>
