
.mat-list-base .mat-list-item {
  color: #fff;
}

.home-btn {
  background: #002137;
  border: none;
  cursor: pointer;
  padding: 15px 0 30px;

  mat-icon {
    height: 44px;
    width: 44px;
  }

  .xs-icon {
    height: 24px;
    width: 24px;
  }
}

a {
  margin-bottom: 10px;
  padding: 5px 0 !important;

  ::ng-deep.mat-list-item-content {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    padding: 0 14px !important;

    span {
      margin-top: 8px;
      font-size: 12px;
    }
  }
}

.active-list-item {
  background: #002c49 !important;

}
