<mat-nav-list>


  <a mat-list-item
     class="home-btn" routerLink="/"
  >
    <mat-icon svgIcon="check-mark" [ngClass.xs]="'xs-icon'"></mat-icon>
  </a>

  <a mat-list-item fxLayout="column"
     routerLinkActive="active-list-item"
     routerLink="/data-base">
    <mat-icon svgIcon="data-base"></mat-icon>
    <span fxHide.xs>База знаний</span>
  </a>
  <a mat-list-item
     routerLinkActive="active-list-item"
     routerLink="/tasks"
  >
    <mat-icon svgIcon="tasks"></mat-icon>
    <span fxHide.xs>Заявки</span>
  </a>

  <a mat-list-item
     routerLinkActive="active-list-item"
     routerLink="/our-employees">
    <mat-icon svgIcon="employees"></mat-icon>
    <span fxHide.xs>Сотрудники</span>
  </a>

  <a mat-list-item
     routerLinkActive="active-list-item"
     routerLink="/our-clients">
    <mat-icon svgIcon="clients"></mat-icon>
    <span fxHide.xs>Клиенты</span>
  </a>

  <a mat-list-item
     routerLinkActive="active-list-item"
     routerLink="/our-assets">
    <mat-icon svgIcon="analytics"></mat-icon>
    <span fxHide.xs>Активы</span>
  </a>

  <a mat-list-item
     routerLinkActive="active-list-item"
     routerLink="/settings">
    <mat-icon svgIcon="settings"></mat-icon>
    <span fxHide.xs>Настройки</span>
  </a>

</mat-nav-list>
