/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


app-sidenav-list {
  .mat-list-base {
    padding: 0 !important;
  }
}


button {
  outline: none;
}

.task-overlay {
  position: absolute !important;
  top: 65px;
  right: 0;
  max-width: 975px;
  height: 100%;

  .mat-dialog-container {
    background: #d1e0ed;
    padding: 0;
    border-radius: 0;
  }
}

.task-overlay-fullscreen {
  max-width: 100vw !important;
  position: absolute !important;
  top: 0;
  right: 0;
  height: 100%;

  .mat-dialog-container {
    background: #d1e0ed;
    padding: 0;
    border-radius: 0;
  }
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}


button.basic-btn {
  border-radius: 20px;
  background-color: #008cf0 !important;
  font-weight: normal;
}

.spinner {
  margin-top: 115px;
  text-align: center;
}


.mat-drawer-inner-container::-webkit-scrollbar {
  width: 0 !important;
}

.mat-drawer-inner-container {
  -ms-overflow-style: none;
}


mat-dialog-container::-webkit-scrollbar {
  width: 0 !important;
}

mat-dialog-container {
  -ms-overflow-style: none;
}

.section-xs {
  width: calc(100vw - 50px);
}
